<% include header %>
<% if(art_list_length !== 0) {%>
<div class="ui main container">
    <span style="text-align: center">
        <h1>Yes Yes Yes!</h1>
    </span>
</div>
<% }else{ %>
    <span style="text-align: center">
        <h1>Nothing exists!</h1>
        <h1><%= art_list_length%></h1>
    </span>
<% } %>