<% include header %>
<div class="ui container">
    <div class="ui two item menu">
        <a class="item <% if (current === 'article') { %> active <% } %>" href="/manage/articles">Article Management</a>
        <a class="item <% if (current === 'users') { %> active <% } %>" href="/manage/users">Users</a>
        <!--<a class="item <% if (current === 'settings') { %> active <% } %>" href="/manage/setting">Settings</a> -->
    </div>
</div>