<% include header %>
<div class="ui main container">
    <div class="ui animated button" tabindex="0" style="width:90px;left:50%;top:50%">
        <div class="hidden content">New Article</div>
        <div class="visible content">
            <i class="add icon"></i>
        </div>
    </div>
</divs>