<% include header %>
<div class="ui container">
    <div class="ui three item menu">
        <a class="item <% if (current === 'article') { %> active <% } %>" href="/manage/articles">Article Management</a>
        <a class="item <% if (current === 'user') { %> active <% } %>" href="/manage/user">Users</a>
        <a class="item <% if (current === 'settings') { %> active <% } %>" href="/manage/setting">Settings</a>
    </div>
</div>